<%= render 'navbar' %>

<div class="container">
  <h1>New Task</h1>
  <%= flash[:notice] %>
  <hr>
  <%= render "form", task: @task, url: task_url%>
  <hr>

  <div class="my-3">
    <%= link_to "< Back", task_url(@task), class: 'btn btn-link' %>
  </div>
</div>