<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Task</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light mb-3">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Tasks</a>
      </div>
    </nav>

    <div class="container">
      <h1>New Task</h1>
      <%= flash[:notice] %>
      <hr>
      <%= render "form", task: @task, url: tasks_url%>
      <hr>

      <div class="my-3">
        <%= link_to "<< Home", root_path, class: 'btn btn-link' %>
      </div>
    </div>
  </body>
</html>