<h1>SummaryDetail#index</h1>
<p>Find me in app/views/summary_detail/index.html.erb</p>

<h1>Task</h1>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <%= link_to task.title, summary_detail_path(task)%>
            <p><%= task.description %></p>
        </li>
    <% end %>
</ul>