<h1>SummaryDetail#index</h1>
<p>Find me in app/views/summary_detail/index.html.erb</p>

<h1>Task</h1>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <a href="/home/<%= task.id %>">
                <b><%= task.title %></b>
            </a>
            <p><%= task.description %></p>
        </li>
    <% end %>
</ul>