<%= render 'navbar' %>

<div class="container">
  <h1>ユーザー編集</h1>
  <%= flash[:notice] %>
  <hr>
  <%= render "form", user: @user, url: user_url%>
  <hr>

  <div class="my-3">
    <%= link_to "< Back", user_url(@user), class: 'btn btn-link' %>
  </div>
</div>