<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">500</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
    <p class="lead">
      サーバーエラーです。サーバー管理人に連絡をしてください。
    </p>
    <%= link_to "<< Go Home", root_path, class: "btn btn-link"%>
  </div>
</div>